<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Title -->
    <title>E-commerce Password Recovery Page | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{favicon.ico}">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" th:href="@{/unify/assets/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/unify/assets/vendor/icon-material/material-icons.css}">

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" th:href="@{/unify/e-commerce/assets/css/styles.e-commerce.css}">

    <!-- CSS Customization -->
<!--    <link rel="stylesheet" th:href="@{/unify/assets/css/custom.css}">-->
    <link rel="stylesheet" th:href="@{/css/app.min.css}">
</head>

<body>
<main>

    <div class="container d-sm-none">
        <div class="row g-mt-15">
            <div class="col">
                <svg viewBox="0 0 24 24" width="1em" height="1em" class="mobile-nav-item" onclick="goHistoryBack()">
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M15.547 2l-1.305 1.27L6 11.293v1.414l8.242 8.022L15.547 22H17v-1.414l-1.305-1.271L8.18 12l7.515-7.316L17 3.414V2z"></path>
                </svg>
            </div>
        </div>
    </div>

    <!-- Login -->
    <section class="container g-pt-20 g-pb-20">
        <div class="row justify-content-center">
            <div class="col-sm-9 col-md-7 col-lg-5">
                <div class="g-brd-around--md g-brd-gray-light-v3 g-bg-white rounded g-px-30--md g-px-10 g-py-50--md g-pt-20 mb-4">
                    <header class="text-center mb-4">
                        <h1 class="h4 g-color-black g-font-weight-400" th:text="#{password-recovery.form.sms.code.send}">Forgot Password?</h1>
                        <p th:text="#{password-recovery.form.sms.code.send.full}">Enter your e-mail address to reset your password.</p>
                    </header>

                    <!-- Form -->
                    <form class="g-py-15" role="form" th:object="${passwordRecoveryForm}" th:modelAttribute="passwordRecoveryForm"
                          th:action="@{/password-recovery/sms-token}" method="post">
                        <div class="mb-4" th:classappend="${#fields.hasErrors('username')} ? u-has-error-v1 : ''">
                            <div class="input-group g-rounded-left-5">
                                <input class="form-control g-color-black g-font-size-18 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15"
                                       type="text" th:field="*{username}" th:placeholder="#{signup.form.phone.placeholder}">
                            </div>
                            <small class="form-control-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">This is a required field.</small>
                        </div>
                        <div class="mb-4"
                             th:classappend="${#fields.hasErrors('password')} ? u-has-error-v1 : ''">
                            <div class="input-group g-rounded-left-5">
                                <input class="form-control g-color-black g-font-size-18 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15"
                                       type="password" th:field="*{password}"
                                       th:placeholder="#{password-recovery.form.password.placeholder}">
                            </div>
                            <small class="form-control-feedback" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}">This is a required field.
                            </small>
                        </div>
                        <div class="mb-4"
                             th:classappend="${#fields.hasErrors('passwordConfirm') || #fields.hasErrors('global')} ? u-has-error-v1 : ''">
                            <div class="input-group g-rounded-left-5">
                                <input class="form-control g-color-black g-font-size-18 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15"
                                       type="password" th:field="*{passwordConfirm}"
                                       th:placeholder="#{password-recovery.form.password.confirm.placeholder}">
                            </div>
                            <small class="form-control-feedback" th:if="${#fields.hasErrors('passwordConfirm')}"
                                   th:errors="*{passwordConfirm}">This is a required field.
                            </small>
                            <small class="form-control-feedback" th:if="${!#fields.hasErrors('passwordConfirm') && #fields.hasErrors('global')}"
                                   th:errors="*{global}">This is a required field.
                            </small>
                        </div>
                        <div class="mb-4"
                             th:classappend="${#fields.hasErrors('token')} ? u-has-error-v1 : ''">
                            <div class="input-group g-rounded-left-5">
                                <input class="form-control g-color-black g-font-size-18 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15"
                                       type="text" th:field="*{token}"
                                       th:placeholder="#{password-recovery.form.token.placeholder}">
                            </div>
                            <small class="form-control-feedback" th:if="${#fields.hasErrors('token')}"
                                   th:errors="*{token}">This is a required field.
                            </small>
                        </div>


                        <button id="sendSMSTokenBtn" class="btn btn-block u-btn-primary g-font-size-18 g-py-15 g-px-25"
                                type="submit" th:text="#{password-recovery.form.smstoken.submit}">Get New Password</button>

                        <div class="row justify-content-between mt-3">
                            <div class="col align-self-center text-center">
                                <a class="g-font-size-16" th:href="@{/password-recovery/username}" th:text="#{password-recovery.form.sms.code.send.again}">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->

</main>

<div class="u-outer-spaces-helper"></div>

<!-- JS Plugins Init. -->
<script>
    function goHistoryBack() {
        window.history.back();
    }
</script>
</body>
</html>
